body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(13, 17, 23);
}

.intro-container {
    display: flex;
    justify-content: center;
}

.intro-container h1 { color: white; }