* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(13, 17, 23);
    font-family: 'Questrial';
}

.container {
    margin: 0 auto;
    width: 75%;
}

.upload-wrapper {
    background: #0e1e25;
    padding: 50px 0 150px 0;
    max-width: 1200px;
    margin: 250px auto 0 auto;
    position: relative;
    border-radius: 30px;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items:  center;
}

.intro-container h1 {
    color: #F7F7F7;
    font-size: 5em;
    font-family: 'Taviraj';
    font-weight: lighter;
}

.intro-container h3 {
    color: #F7F7F7;
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 10px;
}

.intro-container h5 {
    color: #F7F7F7;
    font-size: 1.3em;
    font-weight: lighter;
    max-width: 600px;
    text-align: center;
}

.upload-container {
    width: 35%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #24334a;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto 0 auto;
}

.upload-dragzone {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 50px 0;
    border: 3px solid #ffffff29;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    transition: 0.4s ease all;
}

.upload-dragzone.active {
    border-color: #82f9ff;
    transform: scale(1.1);
}

.upload-dragzone.animated:before {
    content: '';
    display: block;
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -25px;
    right: -25px;
    border: 1px solid #ffffff29;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
}

.upload-dragzone.animated:after {
    content: '';
    display: block;
    position: absolute;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
    border: 1px solid #ffffff29;
    border-radius: 50%;
    animation: pulse 1.5s linear infinite;
}

.upload-icon {
    width: 50px;
    height: 50px;
}

input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.filename {
    font-size: 1.5em;
    color: #F7F7F7;
    text-align: center;
    display: block;
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
}

.upload-btn, .reset-btn {
    color: #F7F7F7;
    border: none;
    border-radius: 5px;
    display: block;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Questrial';
    font-size: 0.9em;
    transition: 0.4s ease background-color;
}

.upload-btn {
    background: #82f9ff52;
    margin-right: 5px;
    padding: 10px 45px;
}

.upload-btn:hover {
    background: #82f9ff99;
}

.reset-btn {
    padding: 10px 15px;
    border: 2px solid #82f9ff52;
    background: transparent;
    margin-left: 5px;
}

.reset-btn:hover { 
    background: #F7F7F7;
    color: red;
 }

.selected-files-container {
    position: absolute;
    left: 0;
    bottom: -350px;
    width: 100%;
}

.selected-files-container h1 {
    color: #F7F7F7;
    margin-bottom: 15px;
}

.selected-files-table {
    border-collapse: collapse;
    width: 100%;
}

.selected-files-table th {
    color: #F7F7F7;
    padding: 15px;
    text-align: left;
}

.selected-files-table td {
    background: #181822;
    border: 1px solid #222738;
    color: #F7F7F7;
    padding: 15px;

}

@keyframes pulse {
    0% {
        transform: scale(0.75);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(1.05);
        opacity: 0;
    }
}