<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Img2Scan - Upload and Scan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
        <!-- Own resources -->
        <link href="./css/styles.css" rel="stylesheet">
        <!-- <link href="../static/css/styles.css" rel="stylesheet"> -->
    </head>

    <body>
        <div class="container">
            <div class="upload-wrapper">
                <div class="intro-container">
                    <h1>Image2Scan</h1>
                    <h3>An Online Image-To-PDF Scanner.</h3>
                    <h5>Upload an image using drag-and-drop or by opening up the selection dialog and obtain a scan result of it.</h5>
                </div>

                <div class="upload-container">
                    <form>
                        <label class="upload-dragzone animated" for="file-upload">
                            <!-- <img class="upload-icon" src="../static/img/cloud-upload-signal-svgrepo-com.svg"> -->
                            <img class="upload-icon" src="./img/cloud-upload-signal-svgrepo-com.svg">
                        </label>
                        <span class="filename">No file uploaded, yet!</span>
                        <input id="file-upload" type="file" multiple>

                        <div class="button-container">
                            <button class="upload-btn" type="submit">Upload</button>
                            <a class="reset-btn">Reset Selection</a>
                        </div>
                    </form>
                </div>

                <div class="selected-files-container">
                    <h1>Selected Files</h1>
                    <table class="selected-files-table">
                        <tr class="table-heading-row">
                            <th>Filename</th>
                            <th>Uploaded</th>
                        </tr>
                        <tr>
                            <td>MyImage.jpg</td>
                            <td>Yes</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    
        <script src="./js/script.js"></script>
        <!-- <script src="../static/js/script.js"></script> -->
    </body>
</html>