<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Img2Scan - Upload and Scan</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Taviraj&display=swap" rel="stylesheet">
        <!-- Own resources -->
        <link href="./css/styles.css" rel="stylesheet">
        <!-- <link href="../static/css/styles.css" rel="stylesheet"> -->
    </head>

    <body>
        <div class="container">
            <div class="intro-container">
                <h1>Image2Scan</h1>
                <h3>An Online Image-To-PDF Scanner.</h3>
                <h5>Upload an image using drag-and-drop or by opening up the selection dialog and obtain a scan result of it.</h5>
            </div>

            <div class="upload-container">
                <span>Please upload a file.</span>
                <input type="file">
            </div>
        </div>
    
        <script src="./js/script.js"></script>
        <!-- <script src="../static/js/script.js"></script> -->
    </body>
</html>